<header class="header">
  <div class="wrapper">
    <div class="top_panel">
      <div class="currency">
        <p class="icon icon_rub"></p>
        <p class="text">RUB</p>
      </div>
      <div class="location">
        <p class="icon"></p>
        <p class="text">Томск</p>
      </div>
    </div>
    <div class="bottom_panel">
      <p class="menu-burger"></p>
      <p class="logo">FromAnywhere</p>
      <label for="search" class="search">
        <button type="button"></button>
        <input id="search" type="search" placeholder="Поиск на FromAnywhere">
      </label>
      <div></div>
      <div class="person">
        <p class="icon"></p>
        <p class="text">Войти</p>
      </div>
      <div class="basket">
        <p class="icon"></p>
        <p class="text">Корзина</p>
      </div>
    </div>
  </div>
</header>
