<footer class="footer">
  <div class="wrapper">
    <div class="footer_wrapper">
      <div class="block">
        <p class="title">Покупателям</p>
        <p class="text">Как сделать заказ</p>
        <p class="text">Способы оплаты</p>
        <p class="text">Доставка</p>
        <p class="text">Возврат товара</p>
        <p class="text">Возврат денежных средств</p>
      </div>
      <div class="block">
        <p class="title">Компаниям</p>
        <p class="text">О нас</p>
        <p class="text">Реквизиты</p>
        <p class="text">Контакты</p>
      </div>
      <div class="block">
        <p class="title">Мы в соцсетях</p>
        <p class="text">Вконтакте</p>
        <p class="text">Телеграм</p>
        <p class="text">YouTube</p>
      </div>
    </div>
  </div>
  <p class="from-anywhere">2022 - 2022 © FromAnywhere - интернет-магазин. <br>
    Все права защищены. Доставка по всей России. <br>
    Проверка совместимости</p>
</footer>
